:root {
    --main-color: #003147;
    --ice-color: #DBF1FD;
}

html, body {
    margin: 0;
}

#root {
    display: flex;
    --margin: 25px;

    min-height: calc(100vh - 2*var(--margin));
    max-width: min(calc(100vw - 2*var(--margin)), 1000px);
    margin: var(--margin) auto;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#left {
    color: white;
    background-color: var(--main-color);
    flex: 1;
}

#right {
    flex: 2;
    padding: 2em;
}


#photo {
    margin: 2em auto;
    width: 70%;
    max-width: 150px;
}

#photo img {
    object-fit: cover;
    border-radius: 50%;

    width: 100%;
    height: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#contact {
    justify-self: flex-end;
}

#contact ul {
    list-style: none;
    line-height: 2em;
}

#contact i {
    margin-right: 0.5em;
}

.divider {
    width: 80%;
    margin: 2em auto;
    border-bottom: 1px solid var(--ice-color)
}

@media (max-width: 400px) {
    #root {
        flex-direction: column;
    }

    #left, #right {
        flex: initial;
        padding: 1em;
    }

    #left #identity {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "photo name"
            "photo role";
    }

    #photo {
        grid-area: photo;
        margin: auto;
    }

    #name {
        grid-area: name;
        font-size: 1.5em;
    }

    #role {
        grid-area: role;
    }

}