body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.conteudo {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.conteudo .lado_esquerdo {
    position: relative;
    background: #003147;
    padding: 40px;
}

.profissional {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profissional .imgBox {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profissional .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profissional h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profissional h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.contato {
    padding-top: 40px;
}

.info {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
}

.contato ul {
    position: relative;
}

.contato ul li {
    position: relative;
    list-style: none;
    margin: 5px 0;
    cursor: pointer;
}

.contato ul li .icone {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #fff;
}

.contato ul li .texto {
    color: #fff;
    font-weight: 300;
}

.contato ul li .texto a {
    color: #fff;
    text-decoration: none;
}

.contato_educacao li {
    list-style: none;
    margin-bottom: 15px;
}

.contato_educacao h5 {
    color: #fff;
    font-weight: 500;
}

.contato_educacao h4 {
    color: #fff;
    font-weight: 500;
}

.contato_idiomas {
    color: #fff;
}

.contato_idiomas {
    padding-bottom: 5px;
    font-weight: 500;
    padding-top: 10px;
    line-height: 1.4em;
}

.contato_idiomas li {
    list-style: none;
}

.contato_idiomas .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.contato_idiomas .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
}

.conteudo .lado_direito {
    position: relative;
    background: #fff;
    padding: 40px;
}

.sobre {
    margin-bottom: 50px;
}

.sobre:last-child {
    margin-bottom: 0px;
}

.titulo2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
    text-align: justify;
}

.sobre .caixa {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.sobre .caixa .ano {
    min-width: 150px;
}

.sobre .caixa .ano h5 {
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
}

.sobre .caixa .texto h4 {
    text-transform: uppercase;
    font-size: 16px;
    color: #333;
}

.habilidades .caixa {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.habilidades .caixa h4 {
    color: #333;
    font-weight: 500;
}

.habilidades .caixa .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.habilidades .caixa .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #003147;
}

@media (max-width: 1000px) {
    .conteudo {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}